.block-level {
  background-color: aqua;
  font-size: 20px;
  font-weight: bold;
  margin-top: 3px;
}
.two {
  background-color: blueviolet;
}
.span-element {
  background-color: yellow;
}
.three {
  background-color: brown;
}
.block-level-inline {
  padding: 20px;
  width: 150px;
  background-color: rgb(190, 222, 135);
  margin: 5px;
}
.li {
  background-color: chartreuse;
  display: inline-block;
  width: 100%;
  margin-top: 3px;
}
.elements-list {
  background-color: brown;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
}
.content {
  margin-top: 50px;
}

/* home work */
